* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: whitesmoke;
}
#client_page {
  width: 95%;
  margin: auto;
}
.client_div {
  margin-top: 20px;
  color: #666666;
  font-family: Roboto;
  font-weight: 550;
  font-size: 25px;
  line-height: 35.994px;
  text-align: left;
  text-transform: capitalize;
}
.client_body {
  margin-top: 40px;
}
.btn {
  border-radius: 2px;
  background-color: #fefefe;
  color: #666666;
  border: 1ox solid rgb(206, 206, 206);
  padding: 8.512px 25.0005px 8.512px 10.5px;
}
.filter_part {
  display: flex;
  justify-content: space-between;
}
.filter_part_left,
.filter_part_right {
  display: flex;
}
input {
  height: 100%;
}
.filter_part_left input {
  margin-left: 10px;
}
.filter_part_right input {
  margin-right: 10px;
}
.clients_main_div {
  margin-top: 15px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
}
.client_child_content {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
  background-color: white;
}
.header_name,
.header_addresas {
  color: #8a8989;
  font-size: 13px;
  text-align: left;
  margin-left: 1.5%;
  padding: 0.6% 0%;
}
.client_header {
  display: flex;
  background-color: #e4eaee;
}
.header_name,
#client_name {
  width: 40%;
}
.client_child_content {
  display: flex;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
}
#client_name {
  margin-left: 1.5%;
}
#client_address {
  width: 40%;
  margin-left: 4%;
  padding: 0% 1.8%;
  border-left: 1px solid #b8b8b8;
}
.icons {
  display: flex;
  width: 15%;
  justify-content: space-around;
  text-align: center;
  margin-left: 2%;
  color: #333333;
}
#note_icon,
.edit_icon,
#show_more {
  border-left: 1px solid #b8b8b8;
  padding-left: 18px;
  color: #aaa9a9;
  font-size: 20px;
  cursor: default;
}
.edit_icon:hover,
#show_more:hover {
  cursor: pointer;
}
.add_botton {
  cursor: pointer;
  border: 1px solid #03a9f4;
  padding: 3% 10%;
  margin-right: 55px;
  font-weight: 500;
  background-color: #03a9f4;
  color: white;
}
.add_botton:hover {
  background-color: #0909ed;
}

/* !---------- POPUP PAGE CSS ------------ */

.bg-model {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.model-content {
  width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 4px;
}
.close{
    margin-top: 17px;
    cursor: pointer;
    color: rgb(196, 196, 196);
}
.top_part {
  display: flex;
  justify-content: space-between;
  margin: 0px 25px;
}
.header {
    margin-top: 10px;
  font-size: 26px;
}
.client_details {
  margin-left: 25px;
}
.button_div {
  margin-left: 50%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}
.close_bt,
.submit_bt {
  padding: 2% 5%;
}
.mrgn-btm {
  margin-bottom: 10px;
}
input {
  width: 95%;
  font-size: 17px;
  padding: 1.5% 4.5%;
}
.close_bt {
  border: 0;
  background-color: initial;
  color: #03a9f4;
}
.close_bt:hover {
  color: #0909ed;
}
.submit_bt {
  width: 100px;
  background-color: #03a9f4;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
}
textarea{
    padding: 1% 4%;
}