*{
    font-family: Roboto;
}
body{
    padding: 0;
    margin: 0;
}
.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.features > h1,h2{
    font-size: 2.33333rem;
    line-height: 1.2;
    font-weight: 400;
    color: #3D4853;
    margin-bottom: 0;
}
.features > div{
    justify-content: center;
    width: 1000px;
    margin: auto;
}
.featuresGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
}
.featuresGrid > div{
    margin-top: 20px;
}
.featuresGrid span{
    font-size: 13px;
    font-weight:500;
    color: #5a6b7b;
}
.featureContent{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    
}
.featureContent > div{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.featureContent > div button{
    font-size: 13px;
    padding: 8px 10px;
    min-width: 100px;
    background-color: #f2f9fb;
    border: none;
    border-radius: 2px;
    color: #788b93;
    cursor: pointer;
}
.featureContent > div button:hover{
    background-color: #03a9f5;
    color: white;
}
.hr{
    margin: 30px auto;
    height: 1px;
    width: 80%;
    background-color: #E8EDF0;
}
.timeTracker{
    margin: auto;
    text-align: center;
}
.timeTracker > p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #636875c7;
}
.image{
    width: 80%;
    margin: auto;
    position: relative;
}
.base{
    width: 100%;
}
.over{
    width: 100%;
    position: absolute;
    opacity: 0;
}
.image:hover > .over{
    opacity: 1;
    transition: opacity 1s;
}
.timetrackerText{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.timetrackerText > div{
    text-align: left;
}
.timetrackerText > div h3{
    margin-bottom: 0;
    color: #3D4853;
    font-weight: 400;
}
.timetrackerText > div p{
    color: #636875c7;
    font-weight: 100px;
    max-width: 250px;
}
.secondTime{
    background-color: #f7fcff;
    padding: 30px 0px;
    margin-top: 20px;
}
.tab{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.tab > div{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    justify-content: center;
    gap: 0rem;
}
.btn{
    background: #f7fcff;
    color: #c7c7c7;
    border: none;
    position: relative;
    width: 13rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px;
}
.btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    background-color: #c7c7c7;
}
.selected{

   color: #03a9f5;
}
.selected::after{
    background-color: #03a9f5;
}
.specialP{
    max-width: 600px;
    margin: 20px auto;
    line-height: 2rem;
}
.video{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    justify-content: center;
    text-align: center;
    padding: 40px 150px;
}
.video > a{
    color: #03A9F4;
    font-size: 34px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 30px;
}
.video > iframe{
    margin: auto;
}
.lastText{
    padding: 120px 20px;
}
.lastText > h2{
    margin: 0;
}
.lastText > p{
    margin: 30px auto;
    font-size: 18px;
}
.dot{
    margin: 0px 20px;
}
.lastText > button{
    background-color: #0288d0;
    position: relative;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}
.lastText > button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #056192;
    border-radius: 0px 0px 5px 5px;
}
.lastText > button:hover{
    background-color: #107eb9;
}
.lastText > div > a,.lastText > div > i{
    color: #107eb9;
    font-size: 13px;
    margin-top: 15px;
}


@media all and (min-width:200px) and (max-width:1045px){
    .timetrackerText{
        grid-template-columns: repeat(2,1fr);
    }
    .featuresGrid{
        grid-template-columns: repeat(2,1fr);
        gap: 0px;
    }
    .features > div{
        width: 80%;
    }
    .tab > div{
        grid-template-columns: repeat(2,1fr);
        gap: 20px 0px;
    }
    .lastText > p{
        display: none;
    }
}
@media all and (min-width:200px) and (max-width:720px){
    .featuresGrid{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    .timetrackerText{
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    .tab > div{
        grid-template-columns: repeat(1,1fr);
        gap: 20px 0px;
    }
    .lastText > p{
        display: none;
    }
}