/* navbar css */

.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 72%;
  padding: 0 5%;
  margin: auto;
}

.Navbar > div {
  white-space: nowrap;
  margin: 17px;
}

.extra {
  flex-grow: 1;
}

.Navbar a {
  text-decoration: none;
  color: #5a6b7b;
  font-size: 14px;
}

.Navbar a:hover {
  color: #3077bd;
}

.Navbar__toggle i {
  font-size: 30px;
}

.Navbar__mobile {
  animation: nav-open 0.3s ease;
}

/* head */

.headPart {
  text-align: center;
  margin-top: 60px;
}

.headPart h1 {
  font-size: 40px;
  line-height: 64px;
  color: #3d4859;
  font-weight: 400;
}

.Hdesc {
  width: 40%;
  margin: 30px auto;
  margin-top: 20px;
}

.Hdesc p {
  font-size: 20px;
}

.headPart i {
  font-size: 12px;
  display: inline-block;
  color: #3077bd;
}
.headPart i span {
  padding-left: 5px;
  letter-spacing: 0.8px;
  font-weight: 400;
  color: #3d5ebd;
}
.headPart i span:hover {
  text-decoration: underline;
}

/* feature */

.feature {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 60px;
}

.featureDes {
  width: 35%;
  margin: 30px auto;
}

.featureList li {
  list-style-type: none;
}

.featureList {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featureList > div:nth-child(even) {
  flex-direction: row-reverse;
}

.featureList p {
  color: #4a4d50;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.featureList span:nth-child(2) {
  line-height: 2;
  font-size: 18px;
  color: #5b6c91;
}

.featureList span:nth-child(1) {
  color: #75d3f8;
  font-size: 16px;
  margin-right: 15px;
}

.featureOne {
  padding: 2% 9%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
/* -------------------------Features End--------------------------------- */

.platform {
  text-align: center;
  background-color: #f7fcff;
  padding: 5% 0;
  width: 100%;
}

.platDesc {
  width: 35%;
  margin: 30px auto;
}

.platSec {
  display: flex;
  width: 100%;
}

.platSec > div {
  width: 33%;
  align-items: flex-start;
  margin-left: 10%;
  margin-bottom: 80px;
}

.platSec h4 {
  color: #495358;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}

.platSec1 {
  display: flex;
  width: 100%;
}

.platSec1 > div {
  width: 25%;
  align-items: flex-start;
  margin-left: 14%;
}

.platSec1 h4 {
  color: #495358;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}

/* footer */

.Footer {
  text-align: center;
  margin-top: 60px;
  background-color: #f7fcff;
  padding: 6% 0 2%;
}

.Footer h1 {
  font-size: 40px;
  line-height: 64px;
  color: #3d4859;
  font-weight: 400;
}

.Footer i {
  font-size: 12px;
  display: inline-block;
  color: #3077bd;
}
.Footer i span {
  padding-left: 5px;
  letter-spacing: 0.8px;
  font-weight: 400;
  color: #3d5ebd;
}
.Footer i span:hover {
  text-decoration: underline;
}

.footerList {
  font-size: 14px;
  color: #5f6d7b;
  width: 25%;
  margin: 25px auto 55px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}

.lastFooter {
  border-top: 0.5px #dee9f1 solid;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 70%;
  padding: 3% 0%;
  margin: 140px auto 30px;
  color: #5a6b7b;
}

.lastFooter > div {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  text-align: left;
}

.lastFooter > div:nth-child(1) a {
  text-decoration: none;
  color: #5a6b7b;
  font-size: 16px;
}

.lastFooter b {
  font-size: 18px;
  color: #424853;
}
.lastFooter p {
  font-size: 16px;
}

.lastFooter p:hover,
.lastFooter p:hover {
  color: #3077bd;
  cursor: pointer;
}

.lastFooter i:nth-child(1) {
  color: #3077bd;
  font-size: 20px;
  margin-right: 10px;
}

.lastFooter i:nth-child(2) {
  color: red;
  font-size: 20px;
}

.last {
  display: flex;

  width: 40%;
  margin-left: 20%;
}

.last > div {
  flex-basis: 1;
  margin: 0 15px;
}

.last > div:nth-child(1) {
  flex-grow: 1;
  text-align: left;
  margin: 0;
}

.last p {
  font-size: 14px;
  color: #83add7;
  cursor: pointer;
}

.last p:hover {
  color: #3077bd;
}

.last div:nth-child(1) p:hover {
  color: #83add7;
  cursor: initial;
}

/* video */

#videoPlay {
  position: relative;
}

#playbutton {
  position: absolute;
  left: 50%;
  top: 40%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 50%;

  cursor: pointer;
}

/* toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* middle why track */

.middle {
  padding: 5%;
  text-align: center;
}

.middleTab {
  width: 70%;
  margin: 10px auto 100px;
}

.midldeBox {
  width: 30%;
  margin: 5%;
  text-align: left;
  padding: 5%;
  box-shadow: 1px 1px 4px rgb(233, 232, 232);
  transition: all 0.3s ease;
  border-top: 3px #45a9f3 solid;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.midldeBox:hover {
  transform: translateY(-1%);
  box-shadow: 1px 1px 4px rgb(167, 165, 165);
  cursor: pointer;
}

.midldeBox i {
  font-size: 45px;
  color: #45a9f3;
  line-height: 70px;
}

.midldeBox b {
  color: #53565a;
  line-height: 50px;
  font-size: 16px;
}

.midldeBox p {
  all: unset;
  font-size: 16px;
  color: #767b80;
}

.midldeBox span {
  line-height: 50px;
  font-size: 16px;
  color: #45a9f3;
}

.midldeBox * {
  display: block;
  line-height: 40px;
}

/* common css */

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

body {
  padding: 11px 0px;
  background-image: linear-gradient(rgb(247, 252, 255), rgb(255, 255, 255));
  overflow-x: hidden;
  position: relative;
}

.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}

p {
  font-size: 21px;
  line-height: 31px;
  color: #636b7b;
}

.freebtn {
  display: block;
  width: 320px;
  height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px auto 5px;
  background-color: #0288d1;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
}
.freebtn:hover {
  opacity: 1;
}

.mainHeading {
  font-size: 34px !important;
  color: #3d4859;
  font-weight: 400;
}

.blueBtn {
  height: 40px;
  width: 130px;
  font-weight: 400;
  font-size: 14px;
  color: #5fbdf7;
  border-radius: 5px;
  border: 2px solid #5fbdf7;
  background-color: transparent;
  outline: none;
}

.blueBtn:hover {
  background-color: #5fbdf7;
  color: white;
}

.logoc>a>img{
 width: 100px;
 height: 80px;
}
