
     /*--------------------------navbar-----------------------------------  */
    
     *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    a{
        text-decoration:none;
        color: black;
    }
    .navbar{
        display:flex;
        align-items: center;
    }
    nav{
        padding:10px ;
        justify-content: space-between;
        background-color: #fff;
        position: fixed;
        z-index:10;
        height: 80px;
        width:100%;
        /* margin-bottom: 20px; */
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    #logo{
        height: 50px;
        width:200px;
    }
    .left{
       width:700px;
    }
    .navbar .menu{
        width: 28px;
        margin-right: 25px;
        margin-bottom: 16px;
    }
    .right{
        display:flex;
        width: 35% ;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    .right .name{
       width:160px;
       display: flex;
     justify-content:space-evenly
    }
    #h{
        font-size: 15px;
    }
    .right p{
        font-size: large;
    }
    .navbar .question{
        padding-top: 8px;
    }
    .navbar .notification{
        padding-top: 8px;
    }
    .btn{
        height: 35px;
        width: 100px;
        font-weight: 400;
        font-size: 16px;
        color:  #5FBDF7;
        border-radius: 5px;
        border: 2px solid #5FBDF7;
        background-color: transparent;
        outline: none;
        margin-bottom: 20px;
    }
    
    .btn:hover{
        background-color: #5FBDF7;
        color: white;
    }
    
    /* --------------drop down------------------- */
    .dropdown{
        padding-bottom: 20px;
        position: relative;
        display: inline-block;
    }
    .dropbtn{
        color: #333;
        /* padding: 25px; */
        font-size: 20px;
        padding-left: 10px;
    }
    .dropdown-content{
        left: -140px;
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 18px;
        color: rgb(91,115,151);
        border-radius: 3px;
        line-height: 20px;
    }
    .dropdown-content a {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {
        background-color: #999;
         color: #FFFFFF;
          border-radius: 2px;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            text-decoration: none;
            color: #999;
            font-weight: 500;
            background-color:rgb(255,255,255);
            width: 120px;
            height: 15px;
            border-radius: 3px;
            }
    
    
    /* ---------------------dark theme change start--------------- */
    label{
        position:absolute;
        width: 54px;
        height: 27px;
        right:20px;
        border:2px solid;
        border-radius:20px;
        transition: 0.8s;
    }
    label:before{
        position:absolute;
        content:'';
        width: 20px;
        height: 19.5px;
        border:2px solid;
        border-radius:50%;
        cursor:pointer;
        background: #000;
        transition: 0.8s;
    }
    label.active:before{
        left:24px;
        background: #03a9f4;
        transition:0.8s
    }
    body.night{
        background:#000;
        color:#03a0f4;
        transition: 0.8s;
    }
    

  /* -------------------------------------------------------sidebar-------------------------------------------- */
    
    /*  
  .sidebar{
    background:#fff;
    width: 250px;
    height: 90vh;
    position: fixed;
    top: 81px;
     border: 1px solid red; 
     background-color: rgb(250, 250, 250); 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shortcut{
    width: 250px;
     margin-right: 5px; 
     border: 1px solid blue; 
    height: 90vh;
    margin-top: 10px;
}
.shortcut a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 250px;
      flex-wrap: wrap;  
   
     padding: 1px;
     padding-left: 15px;
}
.shortcut a:hover{
    background-color: rgb(186, 189, 192);
}
.shortcut a img{
    height: 30px;
    margin-right: 20px;
    
}
.shortcut span{
    width: 150px;
}
hr{
    height: 1px;
    width: 160px;

}
.subscribe h3{
    font-size: 20px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribe a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribe a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.small-sidebar a span{
    display: none;
}
/*  
/* -----------------------CREATE PROJECTPOPUP CSS-------------- */

/* .btn{
    margin-left:1210px;
    top: 10%;
} */
.popup{
    width: 400px;
    height: 230px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(.1);
    /* text-align: center; */
    /* padding: 12px; */
    padding-top: 10px;
    padding-bottom: 10px;
    color: green;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible; 
    top: 50%;
    transform: translate(-50%,-50%) scale(1); 
}

.popup p{
    font-size: 30px;
    color: grey;
    /* padding: 10px; */
    padding-bottom:15px;
    margin-top: 10px;
}
#popup>.first>input{
    width: 150px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
#popup>.second>input{
    margin-top: 20px;
}
#popup>.second>input:first-child{
    /* height: 30px; */
    margin-left: 60px;
}
#popup>.second>input:last-child{
    width: 150px;
    height: 30px;
    margin-left: 97px;
}
#popup>.third{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    margin-left: 217px;
}
#popup>.third>button{
    /* width: 100px; */
    padding: 7px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
}
#popup>.third>button:last-child{
    /* width: 100px; */
   background-color:  rgb(20, 138, 218);
   color: white;
}



/*-------------------------------- report popup---------------------------------------------- */

.reportPopup{
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    top: 47%;
    right: 77%;
    /* transform: translate(-50%,-50%) ; */
    visibility: hidden;
    /* transition: transform 0.4s, */
    width: 150px;
}
.open-reportPopup{
    visibility: visible;
    
}
.reportPopup>h4{
    margin-top: -3%;
    margin-left: 134px;
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    font-weight: 100;
}
.reportPopup p{
    font-size: 20px;
    /* margin: 15px; */
    color: rgb(78, 75, 75);
    padding: 12px;
}
.reportPopup p:hover{
    background-color: rgb(212, 206, 206);
}
thead{
    height: 30px;
    background-color: white;
}
tbody>tr{
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 45px;
    background-color: rgb(246, 249, 252);
    border: none;
    width: 100%;
}
tbody>tr>td{
    border: none;
}
tr:hover{
    background-color: rgb(255, 255, 255);
}

tr img{
    width: 20px;
    margin-top: 8px;
    text-align: center;
    margin-left: 20px;
}

.Archive{
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    top: 64%;
    left: 82%;
    font-size: 20px;
    /* transform: translate(-50%,-50%) ; */
    visibility: hidden;
    transition: transform 0.4s scale(.2) scale(.5);
    width: 150px;
    padding: 5px;
}
.open-Archive{
    visibility: visible;
    
}


/* --------------------------------------------project section ------------------------------------ */


#project{
    height: 900px;
    /* border: 1px solid blue; */
    width: 80%;
    /* overflow: scroll; */
    /* background-color: rgb(248, 249, 255); */
    /* border: 1px solid rgb(9, 150, 243); */
    padding: 20px;
    margin-left: 270px;
}

#div1{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}
#div1>p{
 font-size: 30px;
 color: rgb(65, 65, 61);
}
#div1>button{
 border: none;
 padding: 15px;
 background-color: white;
 border: 1px solid rgb(9, 150, 243);
 color:  rgb(9, 150, 243) ;
}
#div1>button:hover{
    background-color: rgb(9, 150, 243) ;
    color: white;
    cursor: pointer;
}
#div2{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    align-items: center;
}

#div2>select{
    border: none;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
#div2>input{
  width: 400px;
  height: 35px;
  border: none;
  font-size: 20px;
  /* outline: 1px solid black; */
}

#div2>input:focus{
    border: 1px solid #04121f;
    box-shadow: 0 0 3px #01070e;
    outline-offset: 0px;
    outline: none;
}
#div2>button{
    border: none;
    padding: 12px;
    border: 1px solid skyblue;
    font-size: 17px;
    color: white;
    background-color:  rgb(9, 150, 243);
    cursor: pointer;
}

#div2>button:hover{
    background-color: rgb(6, 117, 190);
}

#div3{
    border: 1px solid grey;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#div3>h4{
  background-color: rgb(179, 184, 185);
  height: 20px;
  padding: 25px;
  padding-top: 10px;
  color: rgb(98, 102, 102);
}

table{
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: lighter;
    justify-content: center;
}
table th{
    margin-left: 0px;
}
#div3 a{
    color: rgb(80, 75, 75);
    text-decoration: none;
}
#div3 a:hover{
    text-decoration: underline;
}

