body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    margin-left: 260px;
    height: fit-content;
};

.top-section {
    width: 96%;
    height: fit-content;
    margin: 40px auto;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section-css {
    width: fit-content;
    height: fit-content;

    display: flex;
}

.top-section-css>button {
    width: fit-content;
    height: 40px;
    padding: 10px 20px;

    color: #5a5a5a;
    background-color: white;
    border: 1px solid grey;

    display: flex;
    align-items: center;
    margin-left: -1px;
}

#summary {
    background-color: #E4EAEE;
}



/* Bar Graph Section */
#bar-chart {
    border: 2px solid #888888;
    margin-top: 20px;
}

.bar-chart-top-section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(16, 184, 184);
    border: 0px;
    border-bottom: 2px solid #888888;
}

.bar-chart-left-section {
    width: fit-content;
    display: flex;
}

.bar-chart-left-section>p {
    font-size: 17px;
    color: rgb(253, 249, 249);
    margin: 0px 10px;
}

.bar-chart-left-section>p>span {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

#BarGraph {
    width: 96%;
    height: fit-content;
    margin: auto;
}



/* Pie Chart Section */
.pie-chart-main-section {
    width: 100%;
    height: 400px;
    display: flex;
}

.pie-chart-left-section {
    width: 60%;
    border-right: 1px solid #888888;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.pie-chart-top-section {
    font-weight: 600;
    margin: auto;
}

.pie-chart-top-section > p {
    font-size: 25px;
}

.data-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
    border-bottom: 1px solid #888888;
}

.data-box>p {
    font-size: 17px;
    color: #888888;
    padding: 0px;
    margin: 5px;
}

.data-box-title {
    background-color: #27A0F1;
}
.data-box-title > p {
    color: white;
    font-weight: 600;
}


.pie-chart-right-section{
    margin: auto;
}

#pie-graph-section {
    width: 380px;
    height: 380px;
}


#append + .dataShow {
    width: 100%;
    margin: auto;
    display: block;
    height: fit-content;
}

.dataShow > .data-box {
    display: block;

}





/* Weekly Section */
#weeklySection {
    width: 100%;
    height: fit-content;
    border: 1px solid #888888;
    display: none;
    margin-top: 20px;
}

.give-space-for-project-name {
    width: 250px;
}

.font-size-small {
    font-size: 15px !important;
}

.dataShowforDetailedSection {
    display: block;
    width: 100%;
    /* overflow-y: scroll; */
}

.data-box-detailed {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #888888;
}

.data-box-detailed > p {
    margin: 10px;
}
