body {
    background-repeat: no-repeat;
    background-color: #F2F6F8;
    font-family: 'Roboto', sans-serif;
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.Sign_Up_Contianer {
    width: 100%;
    height: 100%;
}

.Sign_Up_Navbar {
    display: flex;
    justify-content: space-between;
    margin: 50px 90px;
}

.Sign_Up_Login {
    text-decoration: none;
    color: #03a9f4;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: fixed;
}

.Sign_Up_GetStarted {
    text-align: center;
}

.Sign_Up_GetStarted_Get {
    color: #333;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: -0.5px;

}

.Sign_Up_GetStarted_Create {
    color: #666;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: -0.5px;

}

.SIgn_Up_GetStarted_Credit {
    color: #999;
    font-size: 11px;
    margin-bottom: 20px;
}

.Sign_Up_Form {
    width: 23%;
    height: fit-content;
    background-color: #FFFFFF;
    justify-content: center;
    display: block;
    align-content: center;
    margin: auto;
    padding: 80px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.Sign_Up_Form_SignUp {
    color: #333;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: block;
    text-align: center;
}

#email,
#password {
    background-color: #FFFFFF;
    padding: 10px;
    width: 90%;
    height: 20px;
    margin: 10px 0px;
    border: 1px solid #c6d2d9;
    border-radius: 2px;
    color: #333;
    background-clip: padding-box;
    font-size: 14px;
}


.Sign_UP_Create_Button {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #03a9f4;
    padding: 12px 15px;
    width: 95%;
    border-radius: 2px;
    border: none;
    margin-top: 10px;
}