
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #cbcccc;

}

.Timetracker {
    width: 75%;
    margin: 10px auto;
    min-height: 91.5vh;
}

#headingTeller {
    font-family: 'Roboto', sans-serif !important;
    text-align: center;
    color: #5FBDF7;
    margin-left: 10px;
}


.Timetracker__navigation {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Timetracker__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 99%;
    border-radius: 6px;
    align-items: center;
    box-shadow: 2px 2px 16px rgb(196, 196, 196);
    background-color: white;
    color: black;
}


.Timetracker__head>div {
    margin: 5px auto;
    padding: 5px 0px;
}

.Timetracker__head input {
    height: 40px;
    min-width: 160px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border: 0.1px solid rgb(192, 190, 190);
}

.Timetracker__head input:focus {
    border: 2px solid green;
}

.Timetracker__head button {
    height: 40px;
    width: 100px;
    font-weight: 600;
    font-size: 16px;
    color: #5FBDF7;
    border-radius: 5px;
    border: 2px solid #5FBDF7;
    background-color: #5FBDF7;
    color: white;
    outline: none;
}

.Timetracker__head button:hover {
    background-color: white;
    color: #5FBDF7;
}

.Timetracker__description {
    width: 100%;
}

.Timetracker__body {
    margin: 100px auto;
}


.Timetracker__body__info {
    display: block;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin: 10px 10px;
    padding: 10px 0px;
    box-shadow: 2px 2px 4px rgb(207, 205, 205);
    background-color: white;
    font-size: 15px;
}

.Timetracker__body__info:hover {
    background-color: lightcyan;
}

.Timetracker__body__info>div:nth-child(4) input {
    width: 40px !important;
    text-align: center;
    padding: 0;
}


.Timetracker__body__info>div:nth-child(5) {
    width: fit-content;
    margin: auto;
}

.Timetracker__body__info>div:nth-child(6) {
    width: fit-content;
    margin: auto;
}

.delete {
    width: fit-content;
    background-color: red;
    border: 0px;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: center;
}

.Timetracker__body__info > div {
    margin: 10px auto;
}


.Timetracker__body__info>div>span > b {
    height: 40px;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    outline: none;
}


#stopButton {
    display: none;
}


#timer {
    padding-top: 15px;
}



/* Restart feature */
.cssButton {
    width: 100px;
    border: 0px;
    background-color: #5FBDF7;
    color: white;
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
}

.cssButton:hover {
    background-color: #a8d9f8;
}


#restopButton {
    display: none;
}

.hidden {
    display: none;
}

@media only screen and (max-width:600px){
    .Timetracker {
        width: 95%;
    }

    .Timetracker__head {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    
    .Timetracker__head>div {
        margin: 5px auto;
        padding: 5px 0px;
    }

    .Timetracker__body__info {
        display: block;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        margin: 10px 10px;
        box-shadow: 2px 2px 4px rgb(207, 205, 205);
        background-color: white;
        font-size: 15px;
    }
}