body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
    width: 95%;
    height: fit-content;
    margin: auto;
}

.top-section {
    width: 96%;
    height: fit-content;
    margin: 40px auto;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section-css {
    width: fit-content;
    height: fit-content;

    display: flex;
}

.top-section-css>button {
    width: fit-content;
    height: 40px;
    padding: 10px 20px;

    color: #5a5a5a;
    background-color: white;
    border: 1px solid grey;

    display: flex;
    align-items: center;
    margin-left: -1px;
}



/* Bar Graph Section */
#bar-chart {
    border: 2px solid #888888;
}

.bar-chart-top-section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #E4EAEE;
    border: 0px;
    border-bottom: 2px solid #888888;
}

.bar-chart-left-section {
    width: fit-content;
    display: flex;
}

.bar-chart-left-section>p {
    font-size: 17px;
    color: #888888;
    margin: 0px 10px;
}

.bar-chart-left-section>p>span {
    font-size: 24px;
    color: black;
}

#BarGraph {
    width: 96%;
    height: fit-content;
    margin: auto;
}